.venv
*~
*.a
*.acn
*.aux
*.bak
*.bbl
*.blg
*.config
*.d
*.docx
*.dSYM/
*.ext
*.fdb_latexmk
*.fls
*.glo
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.log
*.o
*.out
*.pyc
*.rtf
*.sav
*.status
*.sw*
*.tar
*.toc
*.zip
**/private*
g_*
fred*
bit*
tex/pics/PS
tex/pics/PNG
Collab
tex/corpics/mobsign.png
tex/corpics/robsign.png
tex/corpics/waynesign.png
docs/source/_static
docs/build
docs/source/*.rst 
pdfs/
reports/Imperial_Y3
reports/KCL_Y4
reports/KCL_and_Imperial
reports/Oxford_Physics
reports/Oxford_Y4
reports/STFC
reports/STFC_Y3
reports/STFC_Y4
reports/UCL_Coveney
reports/UCL_Guillas
reports/UCL_Y3
reports/Warwick
reports/York_Y3
reports/York_Y4
reports/York_and_KCL
reports/York_and_Warwick
tex/equations_for_neptune_proxyapps/*.pdf
