*~
*.a
*.acn
*.aux
*.bak
*.bbl
*.blg
*.config
*.d
*.docx
*.dSYM/
*.ext
*.fdb_latexmk
*.fls
*.glo
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.log
*.o
*.out
*.pdf
*.pyc
*.rtf
*.sav
*.status
*.sw*
*.tar
*.toc
*.zip
**/private*
g_*
fred*
bit*
tex/pics/PS
tex/pics/PNG
Collab
tex/corpics/mobsign.png
tex/corpics/robsign.png
tex/corpics/waynesign.png
